<div class="container-fluid ">  
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item "><a class="link-color" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a class="link-color" routerLink="/rutinas">Rutinas</a></li>
        <li class="breadcrumb-item"><a class="link-color" routerLink="/actividades-especiales">Rutinas Especiales</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reeducación de la respiración</li>
      </ol>
    </nav>
    <h2 style="text-align: center; color:rgb(255, 255, 255);" >Ejercicios de respiración</h2>
    <div class="contenedor">
        <div class="row ">
            <div class="col-4 col-1"> 
                <div class="header"><div class="card-header">Ejercicios sentado</div></div>
                <div class="card mb-3" >
                        <h4 class="card-title">Ejercicio 1</h4>
                        <div class="col-md-12">
                        <div class="card-body">
                            <img src="https://i.pinimg.com/564x/4e/72/57/4e725726f8dcd08252f87ca6cd3514c2.jpg" class="img-fluid " alt="..."  width="300" height="150">
                          <p class="card-text">Extienda los brazos y levántelos por encima de la cabeza mientras toma aire por la nariz. <br>Regrese a la posición inicial al mismo tiempo que expulsa el aire por la boca.</p>
                        </div>
                        </div>
                </div>

                <div class="card mb-3" >
                    <h4 class="card-title">Ejercicio 2</h4>
                    <div class="col-md-12">
                    <div class="card-body">
                        <img src="https://i.pinimg.com/564x/e1/bc/14/e1bc14f48f97f864e65795334ee3146d.jpg" class="img-fluid " alt="..."  width="200" height="80">
                      <p class="card-text">Eleve los brazos por encima de la cabeza y tome aire por la nariz. <br> Después, baje los brazos mientras exhala el aire por la boca.</p>
                    </div>
                    </div>
                </div>

                <div class="card mb-3" >
                    <h4 class="card-title">Ejercicio 3</h4><br>
                    <div class="col-md-12">
                    <div class="card-body">
                        <img src="https://i.pinimg.com/564x/7d/94/35/7d943555f4616e5a00bdafcdc8ddb785.jpg" class="img-fluid " alt="..."  width="50" height="50">
                      <p class="card-text">Eleve los hombros.<br><br></p>
                    </div>
                    </div>
                </div>

            </div>

            <div class="col-4 col-1"> 
                <div class="header"><div class="card-header">Ejercicios de Pie</div></div>
                <div class="card mb-3" >
                    <h4 class="card-title">Ejercicio 1</h4>
                    <div class="col-md-12">
                    <div class="card-body">
                        <img src="https://i.pinimg.com/564x/97/7b/d6/977bd63e526b5d28d5c8732b39576d5a.jpg" class="img-fluid " alt="..."  width="120" height="50">
                      <p class="card-text">Coloque los brazos en posición 90º delante del cuerpo. Poco a poco.
                        múevalos hacia fuera hasta ponerlos en forma de cruz mientras toma aire por la nariz. Regrese a la posición inicial mientras exhala el aire por la boca.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mb-3" >
                <h4 class="card-title">Ejercicio 2</h4>
                <div class="col-md-12">
                <div class="card-body">
                    <img src="https://i.pinimg.com/564x/76/04/d1/7604d1ceba62b2d78d151aee41121b25.jpg" class="img-fluid " alt="..."  width="100" height="50">
                  <p class="card-text">Eleve los brazos a la altura de los hombros. Forme círculos con los brazos estirados.</p>
                </div>
                </div>
            </div>

            <div class="card mb-3" >
                <h4 class="card-title">Ejercicio 3</h4>
                <div class="col-md-12">
                <div class="card-body">
                    <img src="https://i.pinimg.com/564x/92/16/be/9216be309cac79b6796dd65addaadfbc.jpg" class="img-fluid " alt="..."  width="50" height="50">
                  <p class="card-text">Con las manos en la cintura, mueva el tronco de un lado hacia el otro.</p>
                </div>
                </div>
            </div>

            </div>

            <div class="col-4 col-1"> 
                <div class="header"><div class="card-header">Ejericios de descanso</div></div>
                <div class="card mb-3" >
                    <h4 class="card-title">Ejercicio 1</h4>
                    <div class="col-md-12">
                    <div class="card-body">
                        <img src="https://i.pinimg.com/564x/9d/5c/4a/9d5c4a1ae38fc335b8c3fec90f1c918d.jpg" class="img-fluid " alt="..."  width="90" height="50">
                      <p class="card-text">Siéntese e inclínese hacia delante, con las piernas separadas y los codos apoyados en ellas.</p>
                    </div>
                    </div>
                </div>

                <div class="card mb-3" >
                    <h4 class="card-title">Ejercicio 2</h4>
                    <div class="col-md-12">
                    <div class="card-body">
                        <img src="https://i.pinimg.com/564x/7a/c0/9b/7ac09b5eec422cd9f9333f8f7cda317d.jpg" class="img-fluid " alt="..."  width="55" height="50">
                      <p class="card-text">Si se fatiga subiendo escaleras, debe apoyarse con los brazos en la barandilla, inclinar el cuerpo hacia delante y manteniendo la espalda recta, respirar de forma tranquila y relajada.</p>
                    </div>
                    </div>
                </div>

                <div class="card mb-3" >
                    <h4 class="card-title">Ejercicio 3</h4>
                    <div class="col-md-12">
                    <div class="card-body">
                        <img src="https://i.pinimg.com/564x/06/6d/c8/066dc8d119145a3c34ed0103539dab69.jpg" class="img-fluid " alt="..."  width="100" height="50">
                      <p class="card-text">Si sufre disnea (sensación de falta de aire), siéntese en una silla frente a una mesa en la que debe colocar dos o tres almohadas y, de esta manera, puede relajarse y descansar.</p>
                    </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
