<div class="container-fluid">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item "><a class="link-color" routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a class="link-color" routerLink="/rutinas">Rutinas</a></li>
          <li class="breadcrumb-item"><a class="link-color" routerLink="/actividades-especiales">Rutinas Especiales</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reeducación de la respiración</li>
        </ol>
      </nav>
      <h2 style="text-align: center; color:rgb(255, 255, 255);" >Calentamiento para diabeticos</h2>
      <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/7c/f0/76/7cf07647a226fb34ad94ea123b2d1568.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Extensión de la columna cervical (estiramiento 
                    del cuello metiendo barbilla adentro y arriba).</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/91/f0/71/91f07162c22326c1d57d12c7f1e64d95.jpg" class="card-img-top" alt="..."  width= "" height="220">
                <div class="card-body">
                  <p class="card-text">Inspiramos profunda y lentamente al tiempo 
                    que elevamos los brazos hasta la horizontal. 
                    A continuación expiramos lentamente 
                    descendiendo los brazos.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/e9/7e/98/e97e9800a47979072ee3f749a3aa4677.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Estiramiento de la musculatura posterior de 
                    pierna, muslo y cadera, llevando la punta de la 
                    pierna hacia arriba y con la rodilla en extensión. 
                    Acompañamos estos movimientos con una ligera 
                    flexión adelante.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/68/1f/56/681f563a356bf3f8e3ab63a6ece8a839.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Sentados, extensión de rodillas y, lentamente, 
                    hacemos círculos con los dedos durante 2-5 
                    segundos.</p>
                </div>
            </div>
        </div>
      </div>
</div>
