.container-fluid{
    background-color: #333333;


}
.card{
    background-color: #ffffff;
}
ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#d75f7d ;
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#000000;
    color:#ffffff
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

/*Permite al submenú no taparse con la card de abajo*/
.nav > li > ul {
    position: absolute;
    z-index: 999;
  }

  
.card {
    position: relative;

    /* Otros estilos de la tarjeta */
  }