<div class="container-fluid">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item "><a class="link-color" routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a class="link-color" routerLink="/rutinas">Rutinas</a></li>
          <li class="breadcrumb-item"><a class="link-color" routerLink="/actividades-especiales">Rutinas Especiales</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ejericicios para diabetes</li>
        </ol>
      </nav>
      <h2 style="text-align: center; color:rgb(255, 255, 255);" >Ejercicios para diabéticos</h2>

      <div class="row">
        <iframe width="560" height="500" src="https://www.youtube.com/embed/lKc39ogHlDc?start=14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

</div>