<div class="container-fluid">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item "><a class="link-color" routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a class="link-color" routerLink="/rutinas">Rutinas</a></li>
          <li class="breadcrumb-item"><a class="link-color" routerLink="/actividades-especiales">Rutinas Especiales</a></li>
          <li class="breadcrumb-item active" aria-current="page">Calentamiento y estiramiento para personas con enfermedades cardiovaculares</li>
        </ol>
      </nav>
      <h2 style="text-align: center; color:rgb(255, 255, 255);" >Ejercicios de Calentamiento para usuarios con enfermedades cardiovasculares</h2>
      <div class="row">
        <div class="col-8 container-card">
            <iframe class="video" width="760" height="315" src="https://www.youtube.com/embed/D-PRnvqvVOM?start=14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <div class="card mb-3">
                <img src="https://i.pinimg.com/564x/47/3e/42/473e42015c200bb2d51a1f02578bf311.jpg" class="card-img-top" alt="..." width="50" height="400">
                <div class="card-body">
                  <h2 class="card-title">Ejercicios</h2>
                  <p class="card-text"> A continuación te proporcionamos unos ejercicioos de calentamiento, necesitas colocar las piernas abiertas al ancho de los hombros, columna alineada, y vista al frente. 
                     Para la sesión de estiramientos se aconseja como 5 a 15 min </p>
                  <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Estiramiento 1</h3>
                        <p>Musculatura lateral del cuello. Una mano inclina la 
                            cabeza lateralmente, mientras que el otro brazo se 
                            desplaza por detrás de la espalda en la misma dirección.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Estiramiento 2</h3>
                        <p>Flexores de los dedos, flexor del codo, del dorsal 
                            ancho y de los aductores. Entrelazar las manos con 
                            las palmas señalando hacia arriba y los codos en 
                            extensión.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Estiramiento 3</h3>
                        <p>Musculatura de la escápula, de los romboidales y 
                            de la porción posterior del deltoides. Elevar el codo 
                            flexionado a la altura de la barbilla y llevarlo con la 
                            otra mano lateralmente hacia atrás.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Estiramiento 4</h3>
                        <p>Estiramiento del pectoral mayor, del dorsal ancho y 
                            del extensor del codo. Colocar la palma de la mano 
                            sobre los omóplatos, a continuación tirar el codo 
                            detrás de la cabeza con la otra mano hacia el centro de la espalda.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Ejercicio 5</h3>
                        <p>Estiramiento de los extensores de la cadera y de los 
                            flexores de la rodilla. Flexión del tronco, manos en 
                            la parte posterior de las piernas.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Estiramiento 6</h3>
                        <p>Musculatura del recto anterior del muslo. Con apoyo en una sola pierna, flexionar al máximo la otra 
                            con tracción hacia atrás (sin arquear la espalda a 
                            nivel lumbar), y apretar el talón contra el glúteo.</p>
                    </li>
                    <li class="list-group-item">
                        <h3>Estiramiento 7</h3>
                        <p>Musculatura de la pantorrilla, en especial de los 
                            gemelos. Una pierna adelantada en semiflexión, la
                            otra recta con apoyo total del pie. La tensión se 
                            regula moviendo la pelvis.</p>
                    </li>
        
                  </ul>
                </div>
              </div>
          </div>
          

      </div>

      
      
</div>
