<div class="container-fluid ">
    <div class="row  justify-content-center">
        <div class="col col-3 mb-4 py-5"> 
            <div class="card " style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/b5/3d/1c/b53d1c83ce8801a23f2acb3f1c580f26.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title ">Asma</h2>
                  <p class="card-text">El asma es una enfermedad crónica del sistema respiratorio que causa inflamación y estrechamiento de las vías respiratorias, lo que dificulta la respiración.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="btn list-group-item" routerLink="/calentamiento-asma">Calentamiento y estiramiento</li>
                  
                  <li class="btn list-group-item" routerLink="/respiracion">Reeducación de la respiración</li>
                 
                  <li class="btn list-group-item" routerLink="/autocontrol">Técnicas de autocontrol</li>
                </ul>
                <div class="card-body">
                  <a href="https://www.efdeportes.com/efd178/ejercicios-fisicos-terapeuticos-para-asmatico.htm" class="card-link">Ver más información</a>
                </div>
              </div>
        </div>
        <div class="col col-3 mb-4 py-5"> 
            <div class="card " style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/49/4a/38/494a383dbfb9d8cbcd375f4134d592bd.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title ">Insuficiencia Cardiaca</h2>
                  <p class="card-text">La insuficiencia cardíaca es una afección médica en la que el corazón no puede bombear suficiente sangre para satisfacer las necesidades del cuerpo por lo que cambia el esilo de vida. <br></p>
                </div><br>
                <ul class="list-group list-group-flush">
                  <li routerLink="/cardiovascular-cal" class="btn list-group-item">Calentamiento y estiramiento</li>
                  <li class="btn list-group-item">Movilidad articular</li>
                  <li class="btn list-group-item">Otros</li>
                </ul>
                <div class="card-body">
                    <a href="https://fivestarsfitness.com/10-ejercicios-cardiovasculares-de-bajo-impacto/" class="card-link">Ver más información</a>
                  </div>
              </div>
        </div>
        <div class="col col-3 mb-4 py-5"> 
            <div class="card " style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/44/48/ea/4448eab0f807d8b942226518532b66af.jpg" class="card-img-top" width="150" height="188" alt="...">
                <div class="card-body">
                  <h2 class="card-title ">Diabetes</h2>
                  <p class="card-text">La diabetes es una enfermedad crónica que se caracteriza por niveles altos de glucosa (azúcar) en la sangre. Existen diferentes tipos de diabetes, los más comunes la diabetes tipo 1 y la tipo 2. </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li routerLink="/diabetes-cal" class="btn list-group-item">Calentamiento y estiramiento</li>
                  <li routerLink="/diabetes-e" class="btn list-group-item">Ejercicios</li>
                  <li routerLink="/autocontrol" class="btn list-group-item">Consejos</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Ver más información</a>
                  </div>
              </div>
        </div>
    </div>
</div>