.container-fluid{
    background-color: #ffffff10 !important;
}

.row{
    background-color:  #333333; 
}
.btn-primary{
    background-color: #8e15c1 !important;
    color: #fffeff  !important;
    
}

a:hover{
    color: #fffeff  !important;
    background-color: #d3a5e6;
    }

.titulo{
    color:#d3a5e6;
}